@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    color: white;
    background-color: black;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    color: white;
}
#yodaimg {
    width: 300px;
    margin: 25px auto;
    align-self: center;
}
#inputArea {
    /* background: rgb(255, 255, 255); */
    /* font-size: 14px; */
}
section {
    margin: 10px auto;
}

button {
    border: none;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1abc9c;
    color: #1abc9c;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-family: "Roboto", sans-serif;
}
button:hover {
    color: white;
    background: #1abc9c;
}
#out {
    margin: auto;
    max-width: 100vw;
    align-self: center;
    font-size: 2rem;
}
